body{
    
    background-image: linear-gradient(to right,gray, black);
    text-align:center

}

h1{
    font-size: 5em;
    text-align:center;
    text-shadow: 2px 2px plum;
}
#app{
    
    width:100%;

    display:flexbox;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 5px lemonchiffon;
    
}
button{
    width:75px;
    height:75px;
    background-image: linear-gradient(to right, gray,black);
    background: url("image/music2.png");
    box-shadow: 2px 2px gray;
    border-radius:50px;
    background-size:cover;  
    margin:20px;
    border: 3px linen solid;
   
}

#buttons{
    background-color: rgb(56, 55, 55);
    border:5px solid black;
    border-radius: 18px;
    box-shadow: 3px 2px 6px ghostwhite;
    width:600px;
    height:100%;
    margin:auto;
    color:azure;
    text-transform: uppercase;
}

#button{
    background-color: rgb(56, 55, 55);
    border:5px solid black;
    border-radius: 18px;
    box-shadow: 3px 2px 6px ghostwhite;
    width:600px;
    height:100%;
    margin:auto;
    color:beige;
    text-transform: uppercase;

}